body {
     font: 13px helvetica, arial, sans-serif;
     color: #ffffff;
     background-color: #797cc4;
     margin: 0;
     padding: 0;
     border: 0;
	 text-shadow: 1px 1px 2px #535353;
}
 a {
     font-weight: bold;
     color: #ffffff;
     text-decoration: none;
     font-size:9px;
}
 a:hover {
     text-decoration: underline;
}
 .main-page-text {
     margin: 0;
     padding: 0 20px 0 0;
     background: #98B4D4;
     border: 1px dotted #111;
     position: relative;
     overflow: hidden;
	 color: #111;
}
 .main-page-description {
     text-align: right;
     padding: 10px;
	 text-shadow: none;
}
 .vr-content {
     margin:10px 0 0 20px;
}
 .logo {
     width:200px;
     height: 182px;
     background: url(logo.png) no-repeat;
     float: left;
}
 .video-page-header {
	 display: flex
}
 h1 {
     color: #ffffff;
     padding: 0 20px;
}
 h1.video-title {
     color: #ffffff;
     padding: 0;
	 display: inline-block;
	 vertical-align: middle;
     margin: 75px 0;
     font-size: 20px;
}
 .video-logo {
     margin: 47px 20px;
     border: 10px solid #FFF;
	 display: inline-block;
	 vertical-align: middle;
	 border-radius: 15px;
}
 h2 {
     font-size:22px;
     line-height:1.2em;
     color:#98f0ff;
     margin: 0 0 10px;
}
 h3 {
     font-size:19px;
     line-height:1.2em;
     color: #ffd700;
     margin: 0 40px;
	 padding: 20px 0 0;
}
 .container {
     width: 100%;
}
 .container div {
     font-weight:bold;
     margin:40px 0 0 20px;
     color: #ffd700;
     font-size:20px;
}
 .container li {
     text-align:center;
     display: inline-block;
     list-style-type: none;
     margin:0 0 10px 0;
}
 li img {
     margin: 15px 15px 0;
     border: 15px solid #ffffff;
	 border-radius: 15px;
     height: 70px;
     width: 70px;
}
 img {
     border: none;
}
 .video-player {
     width: 64.5%;
     display:inline-block;
}
 .programmy {
     width: 34.5%;
     display:inline-block;
     vertical-align: top;
}
 .noprogrammy {
     margin: 10px 20px 30px 30px;
     padding: 20px;
     background: #ffffff;
     border: 1px solid #111;
     color: #000000;
	 border-radius: 15px;
	 text-shadow: none;
}
 .teleprogrammy {
     margin: 0 0 20px;
     font-size:17px;
}
 .previous {
     color:#999999;
}
 .now {
     color:#000;
     font-weight:bold;
}
 .next {
     color:#000000;
}
 .ya-share2 {
     margin: 20px 0;
}
 .player {
     width: 640px;
     height: 360px;
     background-color: #000;
     position: relative;
     margin: 0;
     padding: 0;
     float:right;
}
 iframe {
     width:100%;
     height:100%;
     overflow:hidden;
     border:0px;
}
 .middle {
     text-align: center;
	 margin: 0 auto;
	 font-size:14px;
	 background: #98B4D4;
	 padding: 20px 20px 30px;
	 color: #ffffff;
	 border: 1px dotted #111;
}
 .middle a {
	 font-size:14px;
	 color: #111;
	 text-shadow: none;
}
 .vp-align {
     text-align:right;
}
 .today-programm {
     float:right;
     clear: both;
}
 #player{
     width: 100%;
     height: 100%;
}
 @media only screen and (max-width: 950px) {
     .logo {
         width: 120px;
         height: 100px;
         background: url(logo.png) no-repeat;
         background-size: 120px;
         float: right;
    }
     .video-player {
         width: 100%;
         float:none;
    }
     .programmy {
         width: 100%;
         float:none;
    }
     .today-programm {
         margin: 0 20px 20px;
    }
     .logo-image {
         margin: 0px 10px 20px;
         border: 10px solid #FFF;
         float: left;
    }
     .air {
         display: none;
    }
     .player {
         width: 100%;
         height: 100%;
         min-height: 60vw;
    }
     iframe {
         width:100%;
         height:100%;
         overflow:hidden;
         border:0px;
         min-height: 60vw;
    }
}